{{!-- <p>{{detail.name}}</p>
<a href="/">back</a>
<a href="/todo/edit/{{detail.id}}">edit</a>
<a href="/todo/delete/{{detail.id}}">delete</a> --}}

{{!-- <button type="submit">delete</button> --}}

<form action="/todos/delete/{{{detail.id}}}?_method=DELETE" method="post" style="display:inline">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" name="done" {{#if detail.done }} checked{{/if}} disabled />
      </div>
    </div>
    <input type="text" placeholder="name" name="name" value="{{{detail.name}}}" class="form-control" disabled>
    <div class="input-group-append">
      <a href="/todos/edit/{{{detail.id}}}" class="btn btn-success">edit</a>
      <button type="submit" class="btn btn-danger">delete</button>
    </div>
  </div>
</form>